{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">

	    <title>Locations</title>
	    
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

		<script type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js' %}"></script>	
	    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>	
	    <script type="text/javascript">
			var SERVER_URL = "http://{{server_url}}";

			function delete_location(row){
				if (confirm("Do you want delete this location?") == true) {
			        tr = $(row).parent().parent();
					postcode = $(tr).find(".postcode").text()
					url = SERVER_URL + "/locations/" + postcode;
		    		$.ajax({
					    type: "DELETE",
					    url: url,
					    success: function(response){
					    	$("tr[data-postcode="+postcode+"]").remove();						      
					    },
					    error: function(response){
					      console.log(response.responseText);
					    },
					    dataType: "json"
					});	  					
			    } 
			}

			function edit_location(row){
				tr = $(row).parent().parent();
				$("#postcode").val($(tr).find(".postcode").text());
				$("#address").val($(tr).find(".address").text());	
				$("#id").val($(tr).find(".id").text());	
				$("#method-button").val("PUT");
			}

    		function make_request(){
    			url = SERVER_URL + "/locations";
    			postcode = $("#postcode").val();
    			data = {"postcode": postcode, "address": $("#address").val()};
    			id = $("#id").val();
    			if(id){
    				url += "/" + postcode;
    			}

    			method = $("#method-button").val();
	    		$.ajax({
				    type: method,
				    url: url,
				    data: data,
				    success: function(response){
				    	//Verifies with is a new location or updated one
				    	html = "<tr data-postcode='"+response['postcode']+"'><td class='id'>"+response['id']+"</td><td class='postcode'>"+response['postcode']+"</td><td><span class='address'>"+response['address']+"</span><button type='button' class='btn btn-xs btn-danger' style='float:right;' onclick='delete_location(this)'>Delete</button><button type='button' class='btn btn-xs btn-primary' style='float:right;' onclick='edit_location(this)'>Edit</button></td></tr>";

				    	tr = $("tr[data-postcode="+response['postcode']+"]");
				    	if(tr.length > 0){
				    		tr.replaceWith(html);
				    	}else{
					      $(".list").append(html);	
				    	}
					      
					      $("#postcode").val("");
					      $("#address").val("");
				    },
				    error: function(response){
				      console.log(response.responseText);
				    },
				    dataType: "json"
				});	    			
    		}
	    </script>
	</head>
	<body>
		<div class="container">
		    <div class="page-header">
		        <h1>Locations</h1>
			</div>
			<div class="row">
		        <div class="col-md-8">
		          	<table class="table table-striped">
		            	<thead>
		              		<tr>
		                		<th>#</th>
				                <th>Postcode</th>
				                <th>Address</th>
				            </tr>
							<tr>
			              		<input type="hidden" id="id" name="id" value=""/>
			                	<td colspan="2"><input type="number" id="postcode" name="postcode" value="" max="9999999"/></td>
			                	<td><input type="text" id="address" name="address" value="" size="70"/>
			                	<button id="method-button" type="button" class="btn btn-xs btn-success" onclick="make_request()" value="POST" style="float:right;" >Save</button></td>
			              	</tr>				            
				        </thead>
				        <tbody class="list">
			            	{% for location in locations %}
				              	<tr data-postcode="{{location.postcode}}">
				              		<td class="id">{{location.id}}</td>
				                	<td class="postcode">{{location.postcode}}</td>
				                	<td><span class="address">{{location.address}}</span>
				                		<button type="button" class="btn btn-xs btn-danger" style="float:right;" onclick="delete_location(this)">Delete</button>
				                		<button type="button" class="btn btn-xs btn-primary" style="float:right" onclick="edit_location(this)">Edit</button>
				                	</td>
				              	</tr>
	              			{% endfor %}
		            	</tbody>
		          	</table>
		        </div>
	    	</div>
	    </div>
	</body>
</html>